<div class="inside">
    <h1>the assistant</h1>
    <div class="profile">
        Hi {{user.fullname}}
        <img src="http://flickr.com/buddyicons/{{user.nsid}}.jpg">
        <a href="#" class="logout">[Logout]</a>
    </div>
</div>
