<h2>Faved authors
{{#if nonContacts}}
<a href="#" class="remove-contacts-filter">Remove filter</a>
{{else}}
<a href="#" class="non-contacts">Show only non-contacts</a>
{{/if}}
</h2>
<div class="pages"></div>

<p class="moar-container"><a href="#" class="moar">Show more ...</a></p>