<div id="ilike" class="dashboard active">
    <div class="faved-filters"></div>
    <div class="row">
        <div class="col-md-6 left-panel faved-tags"></div>
        <div class="col-md-6 right-panel faved-authors"></div>
    </div>
</div>
<div id="myphotos" class="dashboard">
    <div class="row">
        <div class="col-md-6 left-panel my-hot-tags"></div>
        <div class="col-md-6 right-panel faving-users"></div>
    </div>
</div>
<div id="timeline" class="dashboard"></div>
